body,html {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, clean, sans-serif;
}
body {
    padding-top:52px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f2f2f2;
}
.form-simple label,
.form-simple .fieldset-inner .legend-wrap,
.repeater-heading {
    font-weight: 500;
}
.js .divider div {
    font-weight: 500;
    font-size: 1.15rem;
}
.repeater {
    margin-left: 60px;
    border-bottom: 1px solid #ccc;
}
a.primary:link,
a.primary:visited,
.primary {
        font-weight: 500;
}
.title-panel .button,
.button.to-the-top,
.title-panel .button.button-icon {
    background-color: #4285f4;
    color: #fff;
}
.button.button-small {
    border-radius: 0;
    padding: 6px;
    font-size: inherit;
}
.button.to-the-top.button-icon svg,
.title-panel .button.button-icon svg {
    fill: #fff;
}

h2.divider,
.divider.ui-sortable-handle {
    padding: 10px;
    background-color: #4285f4;
    color: #FFF;
}
.divider-toggle svg{
    fill: #FFF;
}
header.topbar{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
}
table a.create-subitem {
    color: #4285f4;
}
select {
    padding:5px 40px 5px 10px;
    width: 40%;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #4285f4;
    border-left: none;
    background-color: #FFFFFF;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
   background-image: url(select.png);
   background-repeat:no-repeat;
   background-position: right center;
}
#perch_postDateTime_day,
#perch_postDateTime_month,
#perch_postDateTime_year,
#perch_postDateTime_hour,
#perch_postDateTime_minute,
#postStatus {
    width: auto;
}
input[type=text],
textarea,
.input-simple {
    outline: none;
    border-radius: 0;
    box-shadow: none;
}
.repeater-footer a,
.block-add-bar a {
    padding: 10px;
    background-color: #4285f4;
    color: #FFFFFF;
    margin-right:4px;
    margin-bottom:4px;
    outline: none;
}
.repeater-footer a:hover,
.block-add-bar a:hover {
    padding: 10px !important;
    background-color: #4285f4 !important;
    color: #FFFFFF !important;
    margin-right:4px;
    margin-bottom:4px;
    border-radius: 0 !important;
    outline: none;

}
.block-wrap:hover .block-add-bar a,
.block-add-bar:hover a {
    color: #FFFFFF !important;
}
.blocks {
    border-top: 1px dotted #4285f4;
    border-bottom: 1px dotted #4285f4;
}
.blocks:before{
    color:  #4285f4;
}
.submit-bar-actions .button.button-simple#btnSubmit,
.submit-bar-actions .button.button-simple#btnsubmit {
    border-bottom-color: #0f9d58;
}
.submit-bar-actions .button.button-simple#add_another {
    border-bottom-color: #4285f4;
}
.repeater-footer .repeater-add-prompt svg,
.block-add-bar .block-add-prompt svg {
    width: 40px;
    height: 40px;
    fill:  #4285f4;
}
.repeated-item {
    border:2px solid #4285f4;
    margin-bottom: 30px
}
.repeated-item .index,
.repeated-item:hover .index,
.repeated-item .index:hover {
    background-color: #4285f4;
    color: #FFFFFF;
}
.repeater .repeated:after {
    border-color: #4285f4;
    border-width: 2px;
}

.repeated-item h2.divider {
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    background-color: #ddd;
    box-shadow: inset 7px 0 9px -7px rgba(0,0,0,0.4);

}

.radio-pair,
.checkbox-single {
    position: relative;
}



.radio-pair input,
.checkbox-single input {
  position: absolute;
  opacity: 0;
}

.radio-pair input + label
.checkbox-single input + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.radio-pair label:before,
.checkbox-single label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: #ddd;
}
.radio-pair label:before {
    border-radius: 10px;
}

.radio-pair input:checked + label:after {
    width: 6px;
    height: 6px;
    background-color: #FFFFFF;
    border-radius: 5px;
    content: '';
    position: absolute;
    top: 14px;
    left: 33px;

}

.radio-pair input:checked +label:before {
    background-color: #0f9d58;
}

.checkbox-single.checked label:before {
    background-color: #0f9d58;
}

.checkbox-single.checked label.save-as-draft:before {
    background-color: #ef6c00;
}

.checkbox-single.checked label:after {
  content: '';
  position: absolute;
  left: 17px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-single.field-wrap.checked label:after {
    top: 16px;
    left: 53px;
}
.checkbox-group .checkbox-single.checked label:after {
    left: 14px;
    top: 11px;
}
.checkbox-single.checked label.save-as-draft:after {

    top: 16px;
}
